<div class="fixed-bottom container my-4">
  <div class="alert alert-success d-none" role="alert"></div>
  <div class="alert alert-danger d-none" role="alert"></div>
</div>

<script>
  /**
   * Shows a success alert with the given message.
   * @param {string} message - The message to be shown.
   */
  function showSuccessAlert(message) {
    const alert = document.querySelector('.alert-success')
    alert.innerText = message
    alert.classList.remove('d-none')
    setTimeout(() => alert.classList.add('d-none'), 3000)
  }

  /**
   * Shows a danger alert with the given message
   * @param {string} message - The message to show in the alert
   */
  function showDangerAlert(message) {
    const alert = document.querySelector('.alert-danger')
    alert.innerText = message
    alert.classList.remove('d-none')
    setTimeout(() => alert.classList.add('d-none'), 3000)
  }

  /**
   * Hides all alerts
   */
  function clearAlerts() {
    document.querySelectorAll('.alert').forEach(a => a.classList.add('d-none'))
  }
</script>
